# 반복문

In [2]:
a=[1,3,5,7,9]
for idx, i in enumerate(a):
	a[idx] = 2

In [3]:
a

[2, 2, 2, 2, 2]

# 함수만들기
## 반복되는 일들을 할 때 사용
## 코드가 너무 복잡해서 코드내용을 나눌 때

In [5]:
def test():
    print('테스트 함수입니다')

In [6]:
test()

테스트 함수입니다

In [11]:
def test2(a, b, c, d):
    print(a)
    print(b)
    print(c)
    print(d)

In [13]:
test2(20,5,0,74)

20
5
0
74

In [15]:
test2(d=20, c=30, a=40, b=50) # 인자의 순서를 안지킬거면 지정해주면 된다

40
50
30
20

In [1]:
def plask(a):
    return a

In [2]:
def plask2(a):
    print(a)

In [4]:
# plask와 plask2는 같은 함수일까?
plask(11)

11

In [5]:
# plask와 plask2는 같은 함수일까?
plask2(11)

11

In [7]:
# plask는 결과값을 저장을 하는거고, plask2는 저장을 안하고 출력만 한다
a = plask(11)
b = plask2(11)

11

In [8]:
a

11

In [10]:
b # 아무것도 저장되있지 않기 때문에 출력이 안된다

# for문 + if문을 통해서 합격 여부를 맞추세요
# 매개변수 a에 점수리스트(5개)를 담아 해당 점수가 합격인지 아닌지 확인
## print
- x번째 학생은 합격입니다
- x번째 학생은 불합격입니다
## return
- 5명중에 합격이 많으면 합격 return
- 5명중에 불합격이 많으면 return

### 합격은 60점 이상

In [1]:
a = [60, 70, 60, 10, 90]

def print_pass(scores):
    for i in enumerate(scores):
        if i[1] >= 60:
            print(f'{i[0]+1}번째 학생은 합격입니다')
        else:
            print(f'{i[0]+1}번째 학생은 불합격입니다')

def check_pass(scores):
    sum = 0
    for i in scores:
        sum += i
    if sum/len(scores) >= 60:
        return "합격"
    else:
        return "불합격"
        
print_pass(a)
check_pass(a)

1번째 학생은 합격입니다
2번째 학생은 합격입니다
3번째 학생은 합격입니다
4번째 학생은 불합격입니다
5번째 학생은 합격입니다

'불합격'

In [4]:
# 강사님 코드
a = [60, 70, 60, 10, 90]
def test_score(a):
    pass_num = 0
    for idx, i in enumerate(a):
        if i>=60:
            print(f'{idx+1}번째 학생은 합격입니다')
            pass_num += 1
        else:
            print(f'{idx+1}번째 학생은 불합격입니다')
    if pass_num > 2:
        return '합격'
    else:
        return '불합격'

test_score(a)

1번째 학생은 합격입니다
2번째 학생은 합격입니다
3번째 학생은 합격입니다
4번째 학생은 불합격입니다
5번째 학생은 합격입니다

'합격'

# Map/Filter

In [12]:
lst = ['베인', '가렌', '스카너', '칼리스타']

In [13]:
result = list(map(lambda x: '탑' + x, lst)) # 위 리스트의 요소들의 앞에 탑이라는 글자를 붙이고 싶음

In [14]:
result

['탑베인', '탑가렌', '탑스카너', '탑칼리스타']

In [18]:
result = [] #원래는 이렇게 귀찮게 해야함
for champ in lst:
    result_champ = '탑'+champ
    result.append(result_champ)

In [19]:
result

['탑베인', '탑가렌', '탑스카너', '탑칼리스타']

In [22]:
result_filter = list(filter(lambda x : x if len(x)==3 else '', lst)) #글자수가 3글자일때만 남기고 다 버려라(빈문자열)

In [24]:
result_filter

['스카너']

# [1,2,3,4,5]
### lambda랑 map/filter를 활용해서 2개의 리스트를 만드시오
- 첫번째 리스트: 각 숫자에 *2한 리스트
- 두번째 리스으: 홀수만 빼 온 리스트

In [31]:
num_list = [1,2,3,4,5]

In [32]:
fir_list = list(map(lambda x: x*2, num_list))
print(fir_list)

[2, 4, 6, 8, 10]

In [36]:
sec_list = list(filter(lambda x: x if x%2!=0 else '', num_list))
print(sec_list)

[1, 3, 5]