In [9]:
from my_utils import *

In [10]:
db_open()
df = sql_execute('select * from lol_min_datas')
db_close()

오라클 정상적으로 닫힘

C:\Users\user\게임아이 수업자료\my_utils.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query, con=db)

In [11]:
df

Empty DataFrame
Columns: [TEAMID, GAMEID, PARTICIPANTID, TIER, RIOTTAG, PLAYERNICKNAME, CHAMPIONNAME, TEAMPOSITION, GAMEVERSION, GAMEDURATION, SPELL_TYPE_1, SPELL_TYPE_2, SPELL_TYPE_1_USED, SPELL_TYPE_2_USED, WARDUSED, ITEMID, KILLS, DEATHS, ASSISTS, WIN, G_5, G_6, G_7, G_8, G_9, G_10]
Index: []

[0 rows x 26 columns]